
<div class="row">

  <% @products.each do |product| %>
    <div class="col-md-6">
      <div class="well thumbnail index-list">
        <h3>Name: <a href="/products/<%= product.id %>"><%= product.name %></a></h3>
        <h3>Price: $<%= product.price %></h3>
        <h3><%= product.images.first %> alt="<%= product.name %>"></h3>
        <h4>Description: <%= product.description %></h4>
      </div>
    </div>
  <% end %>
</div>

<!-- <div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div> -->