
<div class="row">

  <% @products.each do |product| %>
    <div class="col-md-6">
      <div class="well thumbnail index-list">
        <h3>Name: <a href="/products/<%= product.id %>"><%= product.name %></a></h3>
        <h3> <%= link_to product.name, "/products/#{product.id}" %>
        <h3>Price: $<%= product.price %></h3>
        <h3><%= product.images.first %> alt="<%= product.name %>"></h3>
        <h4>Description: <%= product.description %></h4>
      </div>
    </div>
  <% end %>
</div>