<h1>Name: <%= @product.name %><h1>
<h3 class="discount-price">Price: <%= number_to_currency(@product.price) %></h3>

<p>Tax: <%= number_to_currency(@product.tax) %><p>
<p>Total: <%= number_to_currency(@product.total) %><p>

  <% if @product.discounted? %>
    <h3>Discount Item!</h3>
  <% else %>
    <h3>On Sale!</h3>
  <% end %>

<h2>"<%= @product.images %>"</h2>
<h4>Description: <%= @product.description %></h4>

<h3><%= link_to 'Home', '/products' %></h3>
<%= if current_user && current_user.admin %>
  <h3><%= link_to 'Edit', "/products/#{@product.id}/edit" %></h3>
  <h3><%= link_to 'Delete', "/products/#{@product.id}", method: :delete %></h3>
<% end %>

<p> Supplied By: <%= @product.supplier.name %></p>
<p> <% @categories.each do |category| %></p>
    <p><a href="/products?category=<%= category.name %>"><%= category.name.titleize %></a></p>
    <p><%= category.name.titleize %></p>
<% end %>

<%= form_tag '/carted_products', method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity, nil, placeholder: "Quantity goes here" %>
  </div>
  <div>
    <%= hidden_field_tag :product_id, @product.id %>
  </div>
  <div>
    <%= submit_tag "Add to Cart!" %>
  </div>
<% end %>
